fastapi
uvicorn[standard]
SQLAlchemy
alembic
psycopg2-binary
pydantic
elasticsearch>=8.0.0
redis
python-multipart
python-dotenv
minio
httpx

# Nouvelles dépendances pour l'authentification
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
openai